  @import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
  html {
    font-family: "Lucida Sans", sans-serif;
    background-color: #FFE0AA;
  }
  body{
    background-color: #FFE0AA;

  }
  body div{
    background-color: #FFE0AA;

   }
  header {
    background-color: #D4CF6A;
    display: inline-block;
    width: 100%;
  }
  #navegador{
    background-color: red;
    width: 100%;
  }

 
  /*----------HEADER---HASIERA---------*/
  #logo {
    float:left;
    width: 30%;
    padding-left: 10px;
  }
  #login{
    float: right;
    width: 10%;
    padding-right: 10px;
  }
  .footer{
    background-color:#553600 ;
    height:100%;
  }

 /*------------HASIERA INGFORMAZIOAK--------------*/
  .grid-contenedor[class*="grid-contenedor"]{
    display: grid;
    margin: 10px;
    padding: 10px;
    grid-template-rows: 200px 200px 200px ;
    grid-template-columns: auto auto auto ;
    grid-gap: 20x ;
    text-align: center;
    background-color: #FFE0AA;

   }

  [class*="Def-"]{
      margin: 10px;
      background-color:#807A15; 
      justify-content: center;

      align-items: center;
    }
    [class*="Def-"] p{
      margin-top: 75px;}
      .open-button {
        background-color: #555;
        color: #FFE0AA;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
      }
      
      /*----------Botton Loggin------------------------------*/
      /* The popup form - hidden by default */
      .form-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
      }
      
      /* Add styles to the form container */
      .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
      }
      
      /* Full-width input fields */
      .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
      }
      
      /* When the inputs get focus, do something */
      .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }
      
      /* Set a style for the submit/login button */
      .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
      }
      
      /* Add a red background color to the cancel button */
      .form-container .cancel {
        background-color: red;
      }
      
      /* Add some hover effects to buttons */
      .form-container .btn:hover, .open-button:hover {
        opacity: 1;
      }

  /* ***************************
          REGISTRO.PHP
  *******************************/
  .error {
    border: solid 2px #FF0000;
}
  .mensajeError{
    background-color: rgba(255, 0, 0, 0.548);
  }

  .mensajeCorrecto{
    background-color: rgba(255, 255, 255, 0.548);
  }
  /* ***************************
          informazioaIkusi.PHP
  *******************************/
  .comentariosContainer{
    background-color: rgba(255, 151, 92, 0.548);
    border: solid 2px rgba(255, 152, 92, 0.829);

  }

    /* ***************************
          TABLAUSUARIOS.PHP
  *******************************/
  table *{
    text-align: center;
    border: black 2px solid;
    padding: 4px;
  }
.tabla{
  margin: 0 auto;

}
.logos{
  width: 50px;
  height: 50px;
}